In [9]:
import pandas as pd
import datetime 
from pandas.tseries.offsets import MonthEnd

In [9]:
df_cases = pd.read_csv\
    ('./MD_COVID-19_-_Cases_by_Age_Distribution.csv')
df_cases['Totals'] = df_cases.iloc[:,2:27].sum(axis=1)
df_cases['DATE'] = pd.to_datetime(df_cases['DATE'])
# df_cases['MONTH'] = pd.to_datetime(df_cases['DATE']).dt.strftime('%Y-%B')
df_cases = df_cases.fillna(0)
df_cases = df_cases.drop(columns=['OBJECTID'])
df_cases = df_cases.melt(id_vars='DATE',var_name='AGE',value_name='CASES')\
    .groupby(['DATE','AGE'])['CASES'].sum().reset_index()

df_cases['CASE_CNT'] = df_cases.groupby(['AGE'])['CASES'].diff().fillna(0)

df_cases['DATE'] = pd.to_datetime(df_cases['DATE'], format="%Y%m") + MonthEnd(1)




df_cases = df_cases[(df_cases['DATE'] >= '2020-1-1') &\
                    (df_cases['DATE'] <= '2021-7-1')]

df_cases['MONTH'] = df_cases['DATE'].dt.strftime("%B %Y")

df_cases = df_cases.groupby(['MONTH','DATE','AGE'])['CASE_CNT'].sum().reset_index()


df_cases['AGE'] = df_cases['AGE'].str.replace('Age_','')
df_cases['AGE'] = df_cases['AGE'].str.replace('_to_','-')
df_cases['AGE'] = df_cases['AGE'].str.replace('plus','+')
df_cases['DATE'] = df_cases['DATE'].dt.strftime('%Y-%m-%d')

df_cases = df_cases.sort_values(by=['AGE','DATE']).reset_index()

df_cases = df_cases.drop(columns=['index'])

#df_cases['CASE_PER'] = \
#((df_cases.set_index(['MONTH','DATE'])['CASE_CNT']*100\
#    /df_cases[~df_cases['AGE'].str.contains('Totals')]\
#      .groupby(['MONTH','DATE'])['CASE_CNT'].sum()))
#df_cases[df_cases['MONTH'].str.contains('January')]


df_totals = df_cases[~df_cases['AGE'].str.contains('Totals')]\
    .groupby(['MONTH','DATE'])['CASE_CNT'].sum().reset_index()\
    .rename(columns={"CASE_CNT":"CASE_TOTAL"})


df_cases = df_cases.merge(df_totals,how = 'left', on=['MONTH','DATE'])
df_cases['CASE_PER'] = df_cases['CASE_CNT'] *100 /df_cases['CASE_TOTAL']
df_cases[df_cases['MONTH'].str.contains('Mar')]
df_cases=df_cases.drop(columns=['CASE_TOTAL'])

df_cases

             MONTH        DATE      AGE  CASE_CNT  CASE_PER
0       March 2020  2020-03-31      0-9       5.0  0.353607
1       April 2020  2020-04-30      0-9     251.0  1.291484
2         May 2020  2020-05-31      0-9     997.0  3.198999
3        June 2020  2020-06-30      0-9     753.0  4.941269
4        July 2020  2020-07-31      0-9     875.0  4.391909
..             ...         ...      ...       ...       ...
171  February 2021  2021-02-28  Unknown       0.0  0.000000
172     March 2021  2021-03-31  Unknown       0.0  0.000000
173     April 2021  2021-04-30  Unknown       0.0  0.000000
174       May 2021  2021-05-31  Unknown       0.0  0.000000
175      June 2021  2021-06-30  Unknown       0.0  0.000000

[176 rows x 5 columns]

In [28]:
df_deaths = pd.read_csv\
    ('./MD_COVID-19_-_Confirmed_Deaths_by_Age_Distribution.csv')
df_deaths['Totals'] = df_deaths.iloc[:,2:27].sum(axis=1)
df_deaths['DATE'] = pd.to_datetime(df_deaths['DATE'])
df_deaths = df_deaths.fillna(0)
df_deaths = df_deaths.drop(columns=['OBJECTID'])

df_deaths['Age_Unknown'] =df_deaths['Age_Unknown'].cumsum()

df_deaths = df_deaths.melt(id_vars='DATE',var_name='AGE',value_name='DEATHS')\
    .groupby(['DATE','AGE'])['DEATHS'].sum().reset_index()

#df_deaths = df_deaths[df_deaths['AGE'].str.contains('Totals')]\
#    .set_index(['AGE','DATE']).diff().fillna(0).reset_index()

df_deaths['DEATH_CNT'] = df_deaths.groupby(['AGE'])['DEATHS'].diff().fillna(0)

df_deaths['DATE'] = pd.to_datetime(df_deaths['DATE'], format="%Y%m") + MonthEnd(1)


df_deaths = df_deaths[(df_deaths['DATE'] >= '2020-1-1') &\
                    (df_deaths['DATE'] <= '2021-7-1')]

df_deaths['MONTH'] = df_deaths['DATE'].dt.strftime("%B %Y")
df_deaths = df_deaths.groupby(['MONTH','DATE','AGE'])['DEATH_CNT'].sum().reset_index()

df_deaths['AGE'] = df_deaths['AGE'].str.replace('Age_','')
df_deaths['AGE'] = df_deaths['AGE'].str.replace('_to_','-')
df_deaths['AGE'] = df_deaths['AGE'].str.replace('plus','+')

df_deaths['DATE'] = df_deaths['DATE'].dt.strftime('%Y-%m-%d')

df_deaths = df_deaths.sort_values(by=['AGE','DATE']).reset_index()

df_deaths = df_deaths.drop(columns=['index'])

df_totals = df_deaths[~df_deaths['AGE'].str.contains('Totals')]\
    .groupby(['MONTH','DATE'])['DEATH_CNT'].sum().reset_index()\
    .rename(columns={"DEATH_CNT":"DEATH_TOTAL"})


df_deaths = df_deaths.merge(df_totals,how = 'left', on=['MONTH','DATE'])
df_deaths['DEATH_PER'] = df_deaths['DEATH_CNT'] *100 /df_deaths['DEATH_TOTAL']
df_deaths[df_deaths['MONTH'].str.contains('Mar')]
df_deaths=df_deaths.drop(columns=['DEATH_TOTAL'])

df_deaths

AttributeError: module 'numpy' has no attribute 'matrix'

In [8]:
df_cases.to_csv(r'./project/dataset/Vac_by_Age.csv',index = False)

FileNotFoundError: [Errno 2] No such file or directory: './project/dataset/Vac_by_Age.csv'

In [41]:
df_vac = pd.read_csv\
    ('./MD_COVID-19_-_Vaccinations_by_Age_Distribution.csv')
df_vac = df_vac[df_vac['AgeRange'].notnull()].fillna(0)
df_vac = df_vac[~df_vac['AgeRange'].str.contains('Federal Entities')]

df_vac['DATE'] = pd.to_datetime(df_vac['VACCINATION_DATE'])

df_vac = df_vac[['DATE','AgeRange','CombinedTotalDosesCumulative']]
df_vac['VAC_CNT'] = df_vac.groupby(['AgeRange'])['CombinedTotalDosesCumulative']\
    .diff().fillna(0)

df_vac = df_vac.rename(columns={"AgeRange":"AGE"})

df_vac['DATE'] = pd.to_datetime(df_vac['DATE'], format="%Y%m") + MonthEnd(1)




df_vac = df_vac[(df_vac['DATE'] >= '2020-1-1') &\
                    (df_vac['DATE'] <= '2021-7-1')]

df_vac['MONTH'] = df_vac['DATE'].dt.strftime("%B %Y")

df_vac = df_vac.groupby(['MONTH','DATE','AGE'])['VAC_CNT'].sum().reset_index()

df_vac['AGE'] = df_vac['AGE'].str.replace('age','')
df_vac['AGE'] = df_vac['AGE'].str.replace('to','-')
df_vac['AGE'] = df_vac['AGE'].str.replace('plus','+')


df_temp = df_vac.groupby(['DATE'])['VAC_CNT'].sum().reset_index() #df_vac
df_temp['AGE'] = 'Totals'
df_temp['MONTH'] = pd.to_datetime(df_temp['DATE']).dt.strftime("%B %Y")
df_temp

df_vac['DATE'] = df_vac['DATE'].dt.strftime('%Y-%m-%d')
df_temp['DATE'] = df_temp['DATE'].dt.strftime('%Y-%m-%d')
df_vac = df_vac.append(df_temp)
#df_vac.to_csv(r'./project/dataset/Vac_by_Age.csv_22',index = False)

df_vac = df_vac.sort_values(by=['AGE','DATE']).reset_index()
df_vac = df_vac.drop(columns=['index'])


df_totals = df_vac[~df_vac['AGE'].str.contains('Totals')]\
    .groupby(['MONTH','DATE'])['VAC_CNT'].sum().reset_index()\
    .rename(columns={"VAC_CNT":"VAC_TOTAL"})


df_vac = df_vac.merge(df_totals,how = 'left', on=['MONTH','DATE'])
df_vac['VAC_PER'] = df_vac['VAC_CNT'] *100 /df_vac['VAC_TOTAL']
df_vac[df_vac['MONTH'].str.contains('Mar')]
df_vac=df_vac.drop(columns=['VAC_TOTAL'])

df_vac

            MONTH        DATE      AGE   VAC_CNT   VAC_PER
0   December 2020  2020-12-31    10-19     192.0  0.317686
1    January 2021  2021-01-31    10-19    2659.0  0.508661
2   February 2021  2021-02-28    10-19    4210.0  0.518975
3      March 2021  2021-03-31    10-19   19936.0  1.385186
4      April 2021  2021-04-30    10-19  110892.0  5.191469
..            ...         ...      ...       ...       ...
63   January 2021  2021-01-31  Unknown       0.0  0.000000
64  February 2021  2021-02-28  Unknown    8000.0  0.986175
65     April 2021  2021-04-30  Unknown  169127.0  7.917771
66       May 2021  2021-05-31  Unknown   32937.0  2.484915
67      June 2021  2021-06-30  Unknown    9810.0  1.740161

[68 rows x 5 columns]

In [42]:
df_final = df_cases.merge(df_deaths,how='left', on=['AGE','MONTH','DATE']).fillna(0)
df_final = df_final.merge(df_vac,\
                          how='left', on=['AGE','MONTH','DATE']).fillna(0)
df_final

,MONTH,DATE,AGE,CASE_CNT,CASE_PER,DEATH_CNT,DEATH_PER,VAC_CNT,VAC_PER
0,March 2020,2020-03-31,0-9,5.0,0.353607,0.0,0.000000,0.0,0.000000
1,April 2020,2020-04-30,0-9,251.0,1.291484,0.0,0.000000,0.0,0.000000
2,May 2020,2020-05-31,0-9,997.0,3.198999,0.0,0.000000,0.0,0.000000
3,June 2020,2020-06-30,0-9,753.0,4.941269,0.0,0.000000,0.0,0.000000
4,July 2020,2020-07-31,0-9,875.0,4.391909,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
171,February 2021,2021-02-28,Unknown,0.0,0.000000,72.0,8.834356,8000.0,0.986175
172,March 2021,2021-03-31,Unknown,0.0,0.000000,62.0,13.025210,0.0,0.000000
173,April 2021,2021-04-30,Unknown,0.0,0.000000,62.0,12.301587,169127.0,7.917771
174,May 2021,2021-05-31,Unknown,0.0,0.000000,71.0,7.585470,32937.0,2.484915
175,June 2021,2021-06-30,Unknown,0.0,0.000000,69.0,35.025381,9810.0,1.740161

In [60]:
# Percentage_chg by Age

df_age_details = df_final[["DATE",'MONTH',"AGE","CASE_CNT","DEATH_CNT","VAC_CNT"]]
df_age_details = df_age_details.set_index(['DATE','MONTH','AGE'])
df_tmp = df_age_details[['CASE_CNT','DEATH_CNT','VAC_CNT']].pct_change().fillna(0).reset_index()
df_tmp = df_tmp.rename(columns={'CASE_CNT':'CASE_PCT_CHG'\
                                           ,'DEATH_CNT':'DEATH_PCT_CHG'
                                          ,'VAC_CNT':'VAC_PCT_CHG'})
df_age_details = df_age_details.merge(df_tmp,how="left",on=["DATE",'MONTH',"AGE"])
#df_age_details
df_age_details\
    .to_csv(r'./project/final/src/resources/data/details_data_all.csv',index = False)

In [43]:
df_final\
    .to_csv(r'./project/final/src/resources/data/details_data_all.csv',index = False)

In [44]:
# Graph Columns
df_f_total=df_final[df_final['AGE'].str.contains('Totals')]\
    [['MONTH','DATE','CASE_CNT','DEATH_CNT','VAC_CNT']]

df_f_total = df_f_total.set_index(['DATE'])

df_p_f_total = df_f_total[['CASE_CNT','DEATH_CNT','VAC_CNT']].pct_change().reset_index()
df_p_f_total =df_p_f_total.rename(columns={'CASE_CNT':'CASE_PCT_CHG'\
                                           ,'DEATH_CNT':'DEATH_PCT_CHG'
                                          ,'VAC_CNT':'VAC_PCT_CHG'}).fillna(0)
df_f_total = df_f_total.merge(df_p_f_total,how='left',on=['DATE'])
#df_f_total = df_f_total[~df_f_total['MONTH'].str.contains('Decem')]
df_f_total['END_DATE']=df_f_total['DATE']
df_f_total

,DATE,MONTH,CASE_CNT,DEATH_CNT,VAC_CNT,CASE_PCT_CHG,DEATH_PCT_CHG,VAC_PCT_CHG,END_DATE
0,2020-03-31,March 2020,1414.0,0.0,0.0,0.000000,0.000000,0.000000,2020-03-31
1,2020-04-30,April 2020,19435.0,985.0,0.0,12.744696,inf,0.000000,2020-04-30
2,2020-05-31,May 2020,31166.0,1405.0,0.0,0.603602,0.426396,0.000000,2020-05-31
3,2020-06-30,June 2020,15239.0,658.0,0.0,-0.511038,-0.531673,0.000000,2020-06-30
4,2020-07-31,July 2020,19923.0,309.0,0.0,0.307369,-0.530395,0.000000,2020-07-31
5,2020-08-31,August 2020,20614.0,252.0,0.0,0.034684,-0.184466,0.000000,2020-08-31
6,2020-09-30,September 2020,16520.0,193.0,0.0,-0.198603,-0.234127,0.000000,2020-09-30
7,2020-10-31,October 2020,20003.0,188.0,0.0,0.210835,-0.025907,0.000000,2020-10-31
8,2020-11-30,November 2020,52133.0,480.0,0.0,1.606259,1.553191,0.000000,2020-11-30
9,2020-12-31,December 2020,77242.0,1211.0,60437.0,0.481634,1.522917,inf,2020-12-31
10,2021-01-31,January 2021,79037.0,1250.0,522745.0,0.023239,0.032205,7.649420,2021-01-31
11,2021-02-28,February 2021,28546.0,743.0,811215.0,-0.638827,-0.405600,0.551837,2021-02-28
12,2021-03-31,March 2021,28706.0,414.0,1439229.0,0.005605,-0.442799,0.774165,2021-03-31
13,2021-04-30,April 2021,36481.0,442.0,2136043.0,0.270849,0.067633,0.484158,2021-04-30
14,2021-05-31,May 2021,13318.0,865.0,1325478.0,-0.634933,0.957014,-0.379470,2021-05-31
15,2021-06-30,June 2021,2440.0,128.0,563741.0,-0.816789,-0.852023,-0.574689,2021-06-30

In [45]:
df_f_total\
    .to_csv(r'./project/final/src/resources/data/summary_data_all.csv',index = False)

In [46]:
df_f_total=df_final[~df_final['AGE'].str.contains('Totals')]\
    [['AGE','CASE_CNT','DEATH_CNT','VAC_CNT']]
df_f_total = df_f_total.groupby(['AGE']) [['AGE','CASE_CNT','DEATH_CNT','VAC_CNT']].sum().reset_index()

df_f_total_t = df_f_total.T
df_f_total_t = df_f_total_t.reset_index()

In [15]:
df_f_total_t\
    .to_csv(r'./project/final/src/resources/data/summary_by_age.csv',index = True)

In [58]:
df_f_total=df_final[~df_final['AGE'].str.contains('Totals')]\
    [['AGE','CASE_CNT','DEATH_CNT','VAC_CNT']]
df_f_total = df_f_total.groupby(['AGE']) [['CASE_CNT','DEATH_CNT','VAC_CNT']].sum().reset_index()
df_f_total

df_f_total['CASE_PER']  = df_f_total['CASE_CNT'] * 100/df_f_total['CASE_CNT'].sum()
df_f_total['DEATH_PER']  = df_f_total['DEATH_CNT'] * 100/df_f_total['DEATH_CNT'].sum()
df_f_total['VAC_PER']  = df_f_total['VAC_CNT'] * 100/df_f_total['VAC_CNT'].sum()
df_f_total

       AGE  CASE_CNT  DEATH_CNT    VAC_CNT   CASE_PER  DEATH_PER    VAC_PER
0      0-9   26166.0        3.0        0.0   5.660977   0.019375   0.000000
1    10-19   47710.0        6.0   563916.0  10.321992   0.038750   8.221683
2    20-29   84710.0       43.0   794751.0  18.326890   0.277706  11.587170
3    30-39   79186.0      106.0   971349.0  17.131780   0.684578  14.161902
4    40-49   68826.0      288.0   978465.0  14.890409   1.859985  14.265651
5    50-59   68762.0      807.0  1142465.0  14.876562   5.211832  16.656709
6    60-69   45782.0     1618.0  1112453.0   9.904872  10.449496  16.219145
7    70-79   25126.0     2419.0   719711.0   5.435975  15.622578  10.493115
8      80+   15949.0     4231.0   355904.0   3.450544  27.324981   5.188946
9  Unknown       0.0     5963.0   219874.0   0.000000  38.510721   3.205680

In [59]:
df_f_total\
    .to_csv(r'./project/final/src/resources/data/details_by_age.csv',index = False)

In [13]:
df_cases = pd.read_csv\
    ('./MD_COVID-19_-_Cases_by_Age_Distribution.csv')
df_cases['DATE'] = pd.to_datetime(df_cases['DATE'])
df_cases = df_cases.fillna(0)
df_cases = df_cases.drop(columns=['OBJECTID'])
df_cases = df_cases.melt(id_vars='DATE',var_name='AGE',value_name='CASES')\
    .groupby(['DATE','AGE'])['CASES'].sum().reset_index()
df_cases = df_cases[(df_cases['DATE'] >= '2020-1-1') &\
                    (df_cases['DATE'] <= '2021-7-1')]

df_cases['AGE'] = df_cases['AGE'].str.replace('Age_','')
df_cases['AGE'] = df_cases['AGE'].str.replace('_to_','-')
df_cases['AGE'] = df_cases['AGE'].str.replace('plus','+')
df_cases['DATE'] = df_cases['DATE'].dt.strftime('%Y-%m-%d')     
df_cases['CASE_CNT'] = df_cases.groupby(['AGE'])['CASES'].diff().fillna(0)
df_cases

            DATE      AGE    CASES  CASE_CNT
0     2020-03-28      0-9      0.0       0.0
1     2020-03-28    10-19      0.0       0.0
2     2020-03-28    20-29      0.0       0.0
3     2020-03-28    30-39      0.0       0.0
4     2020-03-28    40-49      0.0       0.0
...          ...      ...      ...       ...
4595  2021-06-30    50-59  68770.0       8.0
4596  2021-06-30    60-69  45788.0       6.0
4597  2021-06-30    70-79  25127.0       1.0
4598  2021-06-30      80+  15951.0       2.0
4599  2021-06-30  Unknown      0.0       0.0

[4600 rows x 4 columns]

In [12]:
df_deaths = pd.read_csv\
    ('./MD_COVID-19_-_Confirmed_Deaths_by_Age_Distribution.csv')

df_deaths['DATE'] = pd.to_datetime(df_deaths['DATE'])
df_deaths = df_deaths.fillna(0)
df_deaths = df_deaths.drop(columns=['OBJECTID'])

df_deaths['Age_Unknown'] =df_deaths['Age_Unknown'].cumsum()

df_deaths = df_deaths.melt(id_vars='DATE',var_name='AGE',value_name='DEATHS')\
    .groupby(['DATE','AGE'])['DEATHS'].sum().reset_index()

#df_deaths = df_deaths[df_deaths['AGE'].str.contains('Totals')]\
#    .set_index(['AGE','DATE']).diff().fillna(0).reset_index()

#ff_deaths['DEATH_CNT'] = df_deaths.groupby(['DATE','AGE'])['DEATHS'].diff().fillna(0).reset_index()

df_deaths = df_deaths[(df_deaths['DATE'] >= '2020-1-1') &\
                    (df_deaths['DATE'] <= '2021-7-1')]
df_deaths['DEATH_CNT'] = df_deaths.groupby(['AGE','DATE'])['DEATHS'].diff().fillna(0)


df_deaths['AGE'] = df_deaths['AGE'].str.replace('Age_','')
df_deaths['AGE'] = df_deaths['AGE'].str.replace('_to_','-')
df_deaths['AGE'] = df_deaths['AGE'].str.replace('plus','+')
df_deaths['DATE'] = df_deaths['DATE'].dt.strftime('%Y-%m-%d')

df_deaths

            DATE      AGE  DEATHS  DEATH_CNT
0     2020-04-07      0-9     0.0        0.0
1     2020-04-07    10-19     0.0        0.0
2     2020-04-07    20-29     0.0        0.0
3     2020-04-07    30-39     0.0        0.0
4     2020-04-07    40-49     0.0        0.0
...          ...      ...     ...        ...
4495  2021-06-30    50-59   807.0        0.0
4496  2021-06-30    60-69  1618.0        0.0
4497  2021-06-30    70-79  2419.0        0.0
4498  2021-06-30      80+  4231.0        0.0
4499  2021-06-30  Unknown  5965.0        0.0

[4500 rows x 4 columns]